body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#F7F9F9;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#D0D3D4;
  color:#17202A;
  padding-top:30px;
  min-height:70px;
  border-bottom:#40A882 3px solid;
}

header a{
  color:#000000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#1F618D;
  font-weight:bold;
}

header a:hover{
  color:#7B241C;
  font-weight:bold;
}

/* Showcase_Main*/
#showcase_main{
  min-height:400px;
  background:url('Backgrounds/Background_main.png') no-repeat 0 -400px;
  text-align:center;
  color:#ffffffa4;
  font-weight:bold;
}
#showcase_main h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase_main p{
  font-size:20px;
  color:#ffffff;
}
/* showcase_games */
#showcase_games{
  min-height:400px;
  background:url('Backgrounds/Background_game.png') no-repeat 0 -400px;
  text-align:center;
  color:#ffffffa4;
  font-weight:bold;
}
#showcase_games h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase_games p{
  font-size:20px;
  color:#ffffff;
}
/*python*/
#showcase_python{
  min-height:400px;
  background:url('Backgrounds/Background_python.png') no-repeat 0 -400px;
  text-align:center;
  color:#ffffffa4;
  font-weight:bold;
}
#showcase_python h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase_python p{
  font-size:20px;
  color:#ffffff;
}
/*chsarp*/
#showcase_c-sharp{
  min-height:400px;
  background:url('Backgrounds/Background_main.png') no-repeat 0 -400px;
  text-align:center;
  color:#ffffffa4;
  font-weight:bold;
}

#showcase_c-sharp h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase_c-sharp p{
  font-size:20px;
  color:#ffffff;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#40A882;
  text-align: center;
}
